* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e9eef2;
  color: #111111;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
main {
	min-height: 782px;
}

header {
  min-height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f6f7;
}

.logo {
  margin: 0;
  font-family: "Courier New", monospace;
  font-size: 2rem;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 20px;
}

nav a,
.knop {
  padding: 12px 25px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
/* op hover verander*/
nav a:hover,
nav .active,
.knop:hover {
  background-color: #ffffff;
  color: #000000;
  outline: 2px solid #000000;
}



.wie-ben-ik {
  display: flex;
  min-height: 650px;
}

.wie-ben-ik img {
  width: 32%;
  object-fit: cover;
}

.intro-tekst {
  width: 68%;
  padding: 80px 12%;
  text-align: center;
}

.intro-tekst h1 {
  margin-bottom: 0;
  font-family: "Courier New", monospace;
  font-size: 2.2rem;
}

.intro-tekst h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.intro-tekst h3 {
  margin-top: 45px;
  font-family: "Courier New", monospace;
  font-size: 3rem;
  font-weight: normal;
}

.intro-tekst p {
  max-width: 600px;
  margin: 40px auto;
}
/* Projecten en blog */
.pagina-titel {
  padding: 40px 10%;
  border-bottom: 3px solid #000000;
  background-color: #cbd6e0;
}

.pagina-titel h1 {
  margin: 0;
  font-family: "Courier New", monospace;
  font-size: 3rem;
}

.projecten,
.blog-overzicht {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

.project {
  display: flex;
  gap: 35px;
  margin-bottom: 45px;
  padding: 25px;
  border: 2px solid #000000;
  background-color: #f4f6f7;
}

.project img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.project h2,
.blog-bericht h2 {
  margin-top: 0;
  font-size: 1.8rem;
}

.project li {
  margin-bottom: 5px;
}

.blog-bericht {
  margin-bottom: 30px;
  padding: 25px;
  border-left: 6px solid #000000;
  background-color: #f4f6f7;
}

.blog-bericht a {
  color: #003c73;
  font-weight: bold;
}

.datum {
  color: #444444;
  font-style: italic;
}

footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #cbd6e0;
  border-top: 2px solid #000000;
}

footer p {
  margin: 0;
}

footer a {
  color: #000000;
}
span[role="alert"] {
  display: block;
  min-height: 24px;
  margin-top: -15px;
  margin-bottom: 15px;
  color: #b00020;
  font-weight: bold;
}
 
input[aria-invalid="true"] {
  border: 2px solid #b00020;
}

 form {
  max-width: 600px;
  margin: auto;
  padding: 40px 20px;
  border: 2px solid #000000;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
}

.contact footer {
	margin-bottom: 0;
} 

/* Resize voor tablet */
@media (max-width: 768px) {
  .wie-ben-ik img {
    width: 40%;
  }

  .intro-tekst {
    width: 60%;
    padding: 50px 30px;
  }

  .project img {
    width: 220px;
    height: 220px;
  }
}

/* Resize voor Mobiel */
@media (max-width: 480px) {
  header {
    display: block;
    text-align: center;
  }

  .logo {
    margin-bottom: 20px;
    font-size: 1.6rem;
  }

  nav {
    justify-content: center;
    gap: 8px;
  }

  nav a,
  .knop {
    padding: 10px;
    font-size: 0.85rem;
  }

  .wie-ben-ik {
    display: block;
  }

  .intro-tekst {
    width: 100%;
  }

  .wie-ben-ik img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }

  .intro-tekst {
    padding: 35px 20px;
  }

  .intro-tekst h3 {
    margin-top: 30px;
    font-size: 2.2rem;
  }

  .pagina-titel {
    padding: 30px 20px;
  }

  .pagina-titel h1 {
    font-size: 2.2rem;
  }

  .project {
    display: block;
  }

  .project img {
   height: auto;
   max-width: 100%;
   object-fit: contain;
  }

  footer {
    display: block;
    text-align: center;
  }

  footer p {
    margin: 5px;
  }
}